body {
  background-color: rgb(49, 83, 91);
}
header {
  text-align: center;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: antiquewhite;
}
main {
  width: 100%;
  height: 80%;
  /*background-color: brown;*/
  /*para que las seccionones esten juntas */
  display: flex;
  /*hace un espacio en medio dejando las section a los lados*/
  justify-content: space-between;
  /*
  deja espacio a los lados de las sectiones
    justify-content: space-around;
  deja espacios proporcionales entre todas las section
    justify-content: space-evenly;

  */
  box-sizing: border-box;
}
/*se le da los tamanhos a las section*/
.section1 {
  width: 60%;
  margin: 50px;
}

.area {
  width: 80%;
  height: 300px;
  font-size: 19px;
  float: right;
}

.btn-encriptar {
  background-color: aquamarine;
  margin-right: 60px;
}

.btn-desencriptar {
  background-color: rgb(35, 112, 156);
  margin-right: 40px;
}

.btn-encriptar,
.btn-desencriptar {
  width: 30%;
  height: 40px;
  border-radius: 15px;
  border: none;
  margin-top: 30px;
}

.contenedor-btns {
  text-align: right;
  margin-top: 30px;
}

.section2 {
  width: 23%;
  height: 440px;
  background-color: #f0f0f0;
  border-radius: 20px;
  /*la seccion se hace a la izq*/
  margin-right: 100px;
  overflow: hidden;
  float: left;
}

.contenedor-munheco {
  width: 100%;
  height: 60%;
  padding-top: 5px;
  /*para que no se salga del
   lugar y no empuje otro elemento*/
  box-sizing: border-box;
  /*cuando la imagen quiera salir se oculta debajo del parrafo*/
  overflow: hidden;
}

.imagen-munheco {
  width: 100%;
}

.contenedor-h3 {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.contenedor-p {
  width: 100%;
  height: 20%;
  text-align: center;
}
.contenedor-resultado {
  width: 100%;
  height: 70%;
  padding: 25px;
  font-size: 19px;
  color: rgb(35, 112, 156);
}
.texto-resultado {
  width: 100%;
  height: 45px;
  color: black;
}
.contenedor-copiado {
  width: 100%;
  height: 50%;
}
.btn-copiar {
  width: 45%;
  height: 40px;
  /*centrar el boton*/
  display: block;
  margin: auto;
  background-color: rgb(85, 184, 143);
  border-radius: 15px;
  border: none;
}
footer {
  width: 100%;
  font-size: 19px;
  text-align: center;
}
footer ul {
  width: 10%;
  margin: auto;
  display: flex;
  display: inline-flex;
}

footer li {
  list-style: none;
  margin: 5px 10px 5px 10px;
}

footer a {
  text-decoration: none;
  color: #0a3871;
  font-size: 20px;
}
footer p {
  color: #f0f0f0;
  margin: 0px;
}
.ocultar {
  display: none;
}
@media screen and (max-width: 480px) {
  .area {
    margin-left: 0px;
  }
}
